body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #d8e0ec;
}

.calculator {
    width: 320px;
    border-radius: 20px;
    clip-path: inset(0 round 20px);
    background: #dddddd;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

.display {
    background: #2c3e50;
    pointer-events: none;
    color: white;
    border: none;
    text-align: right;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    height: 80px;
    font-size: 2.5em;
}
.display:focus {
    outline: none;
}

.btn {
    border: none;
    cursor: pointer;
    background: white;
    padding: 20px;
    font-size: 1.5em;
    transition: all 0.3s;
}
.btn:hover {
    background: #f1f1f1;
}

.calculate {
    grid-column: span 2;
    background: #2ecc71;
    color: white;
}
.calculate:hover {
    background: #27ae60;
}

.operator {
    background: #f39c12;
    color: white;
}
.operator:hover {
    background: #e67e22;
}

.backspace, .clear {
    background: #e74c3c;
    color: white;
}
.backspace:hover, .clear:hover {
    background: #c0392b;
}
